@model GuidModel

<form asp-controller="User" asp-action="BanUser" method="Post">
    @Html.TextBoxFor(m => m.Id, new { @type = "hidden", @value = @Model.Id })
    <button type="submit" class="btn btn-outline-secondary btn-sm px-4 h-100">&nbsp;&nbsp;Ban&nbsp;&nbsp;</button>
</form>