@model GuidModel

<form asp-controller="User" asp-action="UnbanUser" method="Post">
    @Html.TextBoxFor(m => m.Id, new { @type = "hidden", @value = @Model.Id })
    <button type="submit" class="btn btn-outline-secondary btn-sm px-4 h-100">Unban</button>
</form>